{% extends 'blog/base.html' %}

{% block breadcrumb %}{{ block.super }} > Admin{% endblock %}

{% block content %}

<div class="blog-table">
    <h2><a href="{% url 'blog:newpost' %}">&#9997 New Post</a></h2>
    <table>
        <tr>
            <th>Title</th>
            <th>Author</th>
            <th colspan="3">Actions</th>
        </tr>
        {% for post in posts %}
        <tr>
            <td>{{post.title}}</td>
            <td>{{post.author}}</td>
            <td><a href="{% url 'blog:post_update' post.pk %}">&#9998 Edit</a></td>
            <td><a href="{% url 'blog:post_delete' post.pk %}">&#128465 Delete</a></td>
        </tr>
        {% endfor %}

    </table>

</div>

{% include 'blog/pagination_links.html' %}

{% endblock %}